body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.6;
}

section, footer {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}

.bg-gray {
    background: #eaeaea;
}

header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}

.header-information {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #eaeaea;
}

.header-information > div {
    padding: 0 15px;
}

.header-information > div p {
    font-size: 20px;
}

.header-information > div a {
    font-size: 20px;
    text-decoration: none;
}

.header-information > div a span {
    color: #2a2a2a;
    padding-right: 8px;
}

@media (max-width: 1200px) {

    .header-information {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {

    .header-information {
        display: block;
        text-align: center;
    }

    .header-information > div p {
        font-size: 16px;
    }

    .header-information > div a {
        font-size: 16px;
    }
}

/* top-component */
.top-component {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.top-image-bg {
    position: absolute;
    top: 20px;
    right: 0;
    width: 50%;
    height: 100%;
    background: no-repeat url("../img/top-image.png");
    background-size: cover;
}

.top-image-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
}

.top-content {
    position: relative;
    margin-left: 30px;
    width: 50%;
}

.top-title {
    text-transform: uppercase;
}

.top-title .title {
    line-height: 1.6;
}

.top-description {
    font-size: 18px;
}

.top-phone {
    font-size: 25px;
    cursor: pointer;
}

.top-phone span {
    margin-right: 15px;
    color: #666b84;
}

.top-phone a {
    font-weight: bold;
    font-size: 28px;
}

.top-phone a:hover {
    text-decoration: none;
}

@media (max-width: 1200px) {

    .top-content {
        width: 80%;
    }

    .top-image-bg {
        position: absolute;
        top: 100px;
        right: 0;
        width: 70%;
        height: 80%;
        background: no-repeat url("../img/top-image.png");
        background-size: cover;
    }

    .top-phone span {
        display: block;
    }
}

@media (max-width: 992px) {

    .top-component {
        height: 600px;
    }

    .top-content {
        width: 100%;
        text-align: center;
        margin-right: 30px;
    }

    .top-image-bg {
        top: 80px;
    }
}

@media (max-width: 768px) {

    .top-component {
        height: 550px;
    }

    .top-title .title {
        font-size: 25px;
        margin-top: 0;
    }

    .top-image-bg {
        position: absolute;
        top: 50px;
        right: 0;
        width: 90%;
        height: 80%;
        background: no-repeat url("../img/top-image.png");
        background-size: cover;
    }

    .top-image-bg::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.87);
    }
}

@media (max-width: 480px) {

    .top-component {
            height: 680px;
    }

    .top-image-bg {
        position: absolute;
        top: 30%;
        right: 0;
        width: 100%;
        height: 55%;
        background: no-repeat url("../img/top-image.png");
        background-size: cover;
    }

    .top-title .title {
        font-size: 20px;
        margin-top: 0;
    }
}
/* top-component */

/* block-information */
.block-information {
    padding: 50px 0;
    font-size: 18px;
}

.block-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block-content > div {
    width: 50%;
}

.block-title {
    padding-left: 20px;
    margin-bottom: 40px;
    opacity: .75;
}

@media (max-width: 992px) {

    .block-content {
        display: block;
    }

    .block-content > div {
        width: 100%;
    }

    .block-text {
        margin-top: 40px;
        padding-left: 25px;
    }
}
/* block-information */

/* auto-information */
.auto-information {
    padding: 50px 0;
}

.auto-title {
    margin-bottom: 40px;
}

.auto-block {
    display: flex;
    flex-wrap: wrap;
}

.auto-block > div {
    width: 50%;
}

.auto-characteristics {
    padding-left: 30px;
}

@media (max-width: 992px) {

    .auto-block {
        display: block;
        margin-bottom: 40px;
    }

    .auto-block > div {
        width: 100%;
    }

    .auto-characteristics {
        padding-left: 0;
        text-align: center;
        margin-bottom: 30px;
    }
}
/* auto-information */

/* slider */
img {
    width: 100%; !important;
}

.sim-slider {
    max-width: 1000px;
    min-width: 320px;
    margin: 20px auto;
    padding: 30px 50px;
    border: 1px solid #ccd;
    background-color: white;
}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}
/* slider */

/* footer */
footer {
    background: #eaeaea;
}

.footer-section {
    padding: 50px 0;
    font-size: 18px;
    text-align: center;
}
/* footer */